.printbutton{
    position: fixed;
    top: 10px;
    right: 70px;
    z-index: 1;
}

#mapPrintMapWindow{
    top: 60px;
    width: 250px;
    height: 200px;
    right: 0px;
    position: absolute;
    background: rgba(245, 245, 245, 0.81);
    border: 2px solid #e0737c;
    z-index: 1;
}

.printPdf{
    margin: 0px 10px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


