<div id="mapPrintMapWindow">
    <ui-select ng-model="$ctrl.scale.selected" theme="bootstrap" search-enabled="false" on-select="$ctrl.setPreview()" >
        <ui-select-match placeholder="{{'print.scale.placeholder' | translate }}">{{$select.selected.value}}</ui-select-match>
        <ui-select-choices repeat="scale in $ctrl.scale.options track by $id(scale.key)| filter: $select.search">
            <div ng-bind-html="scale.value | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <div class="btn-group  btn-group-justified">
        <label class="btn btn-primary" ng-model="$ctrl.radioModelF" ng-click="$ctrl.setPreview()" uib-btn-radio="'a4'">A4</label>
        <label class="btn btn-primary" ng-model="$ctrl.radioModelF" ng-click="$ctrl.setPreview()" uib-btn-radio="'a3'">A3</label>
    </div>
    <div class="btn-group  btn-group-justified">
        <label class="btn btn-primary" ng-model="$ctrl.radioModelP" ng-click="$ctrl.setPreview()" uib-btn-radio="'p'"><span translate>print.format.portrait</span></label>
        <label class="btn btn-primary" ng-model="$ctrl.radioModelP" ng-click="$ctrl.setPreview()" uib-btn-radio="'l'"><span translate>print.format.landscape</span></label>
    </div>
    <div class="btn-group  btn-group-justified">
        <label class="btn btn-primary" ng-model="$ctrl.radioModelDPI" ng-click="$ctrl.setPreview()" uib-btn-radio="'dpi300'">300 dpi</label>
        <label class="btn btn-primary" ng-model="$ctrl.radioModelDPI" ng-click="$ctrl.setPreview()" uib-btn-radio="'dpi600'">600 dpi</label>
    </div>
    <br />
    
    <a ui-sref="blackmap" class="btn btn-default pull-left printPdf" translate>blackmap_print_close_title</a>
    <button class="btn btn-default pull-right printPdf" ng-click="$ctrl.printMap()" ng-disabled="$ctrl.printState.disabled"><span ng-class="$ctrl.printState.class"></span><span translate>print.button.title</span></button>
</div>