.building{
    width: auto;
    height: auto;
    padding: 10px;
}

.building:hover{
    stroke: #000;
    stroke-width: 2px;
}

.buildingPath {
    fill: lightgray;
    stroke: black;
}

.active {
    stroke: #000;
    stroke-width: 2px;
}