html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ui-select-bootstrap .ui-select-choices-row.active>span {
    background-color: #e0737c;
}

.ui-select-choices-row:hover {
    background-color: #e0737c;
}