<div class="btn-group dropup onlydesktop" uib-dropdown>
    <button id="export-button" type="button" class="btn btn-primary btn-lg no_rounded">Export</button>

    <button type="button" class="btn btn-primary btn-lg no_rounded" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span sr-only="Dropdown"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="export-button">
        <li ng-repeat="exportOption in $ctrl.exportOptions"><a ng-click="$ctrl.download(exportOption)">{{exportOption}}</a></li>
    </ul>
</div>