<div id="userBuildingLoad" class="btn btn-default" ng-click="$ctrl.open()">
    <span class="glyphicon glyphicon-save-file"></span>
    <span class="glyphicon-class" translate>blackmap_userbuildingload_button_title</span>
    <script type="text/ng-template" id="userBuildingLoadModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" translate>blackmap_userbuildingload_modal_title</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="existingName" class="col-sm-6 control-label" translate>blackmap_userbuildingload_existing_collection</label>
                    <div class="col-sm-6">
                        <ui-select
                                name="existingName"
                                search-enabled="true"
                                sortable="true"
                                ng-model="$ctrl.selectedCollection"
                                theme="bootstrap"
                        >
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="collection in $ctrl.collections track by $id(collection.id)| filter: $select.search">
                                <div ng-bind-html="collection.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-md-offset-4">
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.load()" ng-disabled="$ctrl.selectedCollection.name == '-'" translate>blackmap_userbuildingload_button_load_title</button>
                        <file-field class="btn btn-primary" ng-model="$ctrl.uploadFile" ng-change="$ctrl.upload()" multiple>
                            <span translate>blackmap_userbuildingload_load_from_disk</span>
                        </file-field>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()" translate>blackmap_userbuildingload_button_cancel_title</button>
        </div>
    </script>
</div>