#geolocation{
    position: absolute;
    top: unset;
    bottom: 7.4em;
    left: 0.6em;
    background: rgba(245, 245, 245, 0.81);
    border: 2px solid #e0737c;
    padding: 4px 6px;
}

#geolocation:hover{
    background: #e0737c;
    color: #fff;
    border: 2px solid #e0737c;
}