html, body, #blackmap{
    width: 100%;
    height: 100%;
}

.info{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
}


.printbutton{
    position: fixed;
    top: 10px;
    right: 70px;
    z-index: 1;
}

.header{
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 1;
    width: 25em;
}

.footer{
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    width: 300px;
    text-align: right;
}

.footer > feature-export > .btn-group,
.footer > build-blackmap > .btn-group{
    margin-bottom: 5px;
}


.footerLayers{
    position: fixed;
    bottom: 90px;
    right: 5px;
    z-index: 1;
    width: 150px;
    text-align: right;
}

.menu{
    position: fixed;
    top: 80px;
    left: 10px;
    width: 25em;
}

.footerLayers > osm-layer > button,
.footerLayers > grid-layer > button,
.footerLayers > building-layer > button,
.footerLayers > other-layer > button,
.footerLayers > user-building-layer > button{
    margin-bottom: 5px;
}

.footerLayers > osm-layer > button > span.badge,
.footerLayers > grid-layer > button > span.badge,
.footerLayers > building-layer > button > span.badge,
.footerLayers > user-building-layer > button > span.badge{
    color: #fff;
    background: #e0737c;
}

.current-location-overlay{
    font-size: 50px;
    color: #e0737c;
}

.color-picker{
    padding: 5px!important;
}

.color-picker-wrapper{
    float:left;
    margin-top: 8px;
}

.other-layer{
    margin-bottom: 8px;
}

@media (max-width: 600px) {
    .header {
        width: 17em;
    }
    .menu {
        width: 270px;
    }

    .panel-body{
        padding: 5px;
    }
    .transitionHistory{
        display: none!important;
    }
}