<div id="blackmap">
    <ui-view></ui-view>
    <cookie-law-banner position="top" message="{{ 'cookie.content' | translate}}"></cookie-law-banner>

    <blackmap-map map="$ctrl.map" geoserver="$ctrl.geoserver" wrk-map="$ctrl.wrkMap"></blackmap-map>
    <geolocation map="$ctrl.map" is-app-start-do-geolocation="$ctrl.isAppStartDoGeolocation" on-geolocation="$ctrl.updateCurrentLocationOverlay"></geolocation>
    <zoom-info map="$ctrl.map"></zoom-info>
    <div class="header">
        <form class="form-inline">
            <autocomplete map="$ctrl.map" address-location="" on-menu-toggled="$ctrl.toggleMenu" on-address-changed="$ctrl.updateCurrentLocationOverlay"></autocomplete>
        </form>
    </div>

    <div class="printbutton">
        <form class="form-inline">
            <a ui-sref="blackmap.print" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-print"></span>
            </a>
        </form>
    </div>

    <div class="info">
        <form class="form-inline">
            <a ui-sref="blackmap.info" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-info-sign"></span>
            </a>
        </form>
    </div>

    <uib-accordion class="menu" ng-if="$ctrl.isToolShow">
        <div uib-accordion-group class="panel-default" ng-click="$ctrl.toggleOpen()" is-open="false">
            <uib-accordion-heading>
                <span class="glyphicon glyphicon-wrench"></span>
                <span class="accordionTitle" translate>blackmap_blackmaptools_accordion_title</span>
                <span class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"
                      ng-class="$ctrl.isOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
            </uib-accordion-heading>
            <blackmap-tools
                    map="$ctrl.map"
                    user-building-layer="$ctrl.userBuildingLayer"
                    building-layer="$ctrl.buildingLayer"
                    geoserver="$ctrl.geoserver"
                    wrk-map="$ctrl.wrkMap"
                    max-building-selections="50"
                    drag-building="$ctrl.dragBuilding"
                    drag-building-top-left-pixel="$ctrl.dragBuildingTopLeftPixel"
                    on-add-selected-building-features="$ctrl.toggleMenu"
            ></blackmap-tools>
        </div>

        
        <div uib-accordion-group class="panel-default" ng-click="$ctrl.toggleOpen()" is-open="false">
            <uib-accordion-heading>
                <span class="glyphicon glyphicon-wrench"></span>
                <span class="accordionTitle" translate>Enrichment</span>
                <span class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"
                      ng-class="$ctrl.isOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
            </uib-accordion-heading>

     
            <div class="other-layer">
                <other-layer map="$ctrl.map" geoserver="$ctrl.geoserver" wrk-map="$ctrl.wrkMap" layer-name="Contours" layer-geoserver-name="contours" max-resolution="20"></other-layer>
            </div>


        </div>
    </uib-accordion>

    <building ng-if="$ctrl.dragBuilding" feature="$ctrl.dragBuilding" draggable-building="{{$ctrl.dragBuildingTopLeftPixel}}"></building>
    <div class="footerLayers form-group">
        <osm-layer map="$ctrl.map"></osm-layer>
        <!--<grid-layer map="$ctrl.map" geoserver="$ctrl.geoserver" wrk-map="$ctrl.wrkMap"></grid-layer>-->
        <building-layer building-layer="$ctrl.buildingLayer" map="$ctrl.map" geoserver="$ctrl.geoserver" wrk-map="$ctrl.wrkMap"></building-layer>
        <user-building-layer map="$ctrl.map" user-building-layer="$ctrl.userBuildingLayer" is-visible=false></user-building-layer>
        <wrk-grid-layer map="$ctrl.map" wrk-grid-layer="$ctrl.wrkGridLayer"></wrk-grid-layer>
    </div>
    <div class="footer">
        <feature-export map="$ctrl.map" geoserver="$ctrl.geoserver" wrk-map="$ctrl.wrkMap"></feature-export>
        <build-blackmap map="$ctrl.map"  wrk-grid-layer="$ctrl.wrkGridLayer"></build-blackmap>
    </div>
</div>