<div id="userBuildingSave" class="btn btn-default" ng-click="$ctrl.open()" ng-disabled="$ctrl.userBuildingLayer.getSource().getFeatures().length == 0">
    <span class="glyphicon glyphicon-open-file"></span>
    <span class="glyphicon-class" translate>blackmap_userbuildingsave_button_title</span>
    <script type="text/ng-template" id="userBuildingSaveModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" translate>blackmap_userbuildingsave_modal_title</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="existingName" class="col-sm-6 control-label" translate>blackmap_userbuildingsave_save_to_existing_collection</label>
                    <div class="col-sm-6">
                        <ui-select name="existingName" search-enabled="true" sortable="true" ng-model="$ctrl.selectedCollection" theme="bootstrap">
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="collection in $ctrl.collections track by $id(collection.id)| filter: $select.search">
                                <div ng-bind-html="collection.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label" translate>blackmap_userbuildingsave_or</label>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-6 control-label" translate>blackmap_userbuildingsave_new_collection_name</label>
                    <div class="col-sm-6">
                        <input type="text" id="name" name="name" class="form-control" ng-model="$ctrl.name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-md-offset-4">
                        <button class="btn btn-primary" type="button" ng-disabled="$ctrl.selectedCollection.name == '-' && $ctrl.name == ''" ng-click="$ctrl.save()" translate>blackmap_userbuildingsave_button_save_title</button>
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.download()" translate>blackmap_userbuildingsave_save_to_disk</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()" translate>blackmap_userbuildingsave_button_cancel_title</button>
        </div>
    </script>
</div>