<div class="btn-group dropup" uib-dropdown>


    <button type="button" class="btn btn-primary btn-lg no_rounded"  ng-disabled="$ctrl.workStatus.statusConstruct" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span sr-only="Dropdown"></span>
    </button>
    <ul class="dropdown-menu" uib-dropup-menu role="menu" aria-labelledby="build-button">


      <li ng-repeat="buildOption in $ctrl.buildOptions"><a ng-click="$ctrl.constructOSMFeatures(buildOption.option)"><span translate>{{buildOption.title}}</span></a></li>
    </ul>

    <button class="btn btn-primary btn-lg btn no_rounded" ng-click="$ctrl.constructOSMFeatures('end')" ng-disabled="$ctrl.workStatus.statusConstruct">
        <span translate>blackmap_buildBlackmap_button_title</span>
        <span class="badge">{{$ctrl.workStatus.workTimeEllapsed}}</span></span>

    </button>






</div>
