<div id="userBuildingRemove" class="btn btn-default" ng-click="$ctrl.open()" ng-disabled="$ctrl.collections.length < 3">
    <span class="glyphicon glyphicon-trash"></span>
    <span class="glyphicon-class" translate>blackmap_userbuildingremove_button_title</span>
    <script type="text/ng-template" id="userBuildingRemoveModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" translate>blackmap_userbuildingremove_modal_title</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form class="form-horizontal">
                <div class="form-group">

                    <label for="existingName" class="col-sm-6 control-label" translate>blackmap_userbuildingremove_existing_collection</label>
                    <div class="col-sm-6">
                        <ui-select
                                name="existingName"
                                search-enabled="true"
                                sortable="true"
                                ng-model="$ctrl.selectedCollection"
                                theme="bootstrap"
                        >
                            <ui-select-match>{{$select.selected.name | translate}}</ui-select-match>
                            <ui-select-choices repeat="collection in $ctrl.collections track by $id(collection.id)| filter: $select.search">
                                <div ng-bind-html="collection.name | translate | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary pull-left" type="button" ng-click="$ctrl.remove()" ng-disabled="$ctrl.selectedCollection.name == '-'" translate>blackmap_userbuildingremove_button_remove_title</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()" translate>blackmap_userbuildingremove_button_cancel_title</button>
        </div>
    </script>
</div>