<form id="buildingGeometrySelection" class="form-horizontal">
    <div class="form-group">
        <label for="geometry" class="col-sm-5 control-label" translate>blackmap_buildingselection_selection_by</label>
        <div class="col-sm-6">
            <ui-select name="geometry" search-enabled="false" sortable="true" ng-model="$ctrl.selectionGeometry" spinner-enabled="false"
                       on-select="$ctrl.toggleGeometrySelectionMode($item)" ng-disabled="!$ctrl.isActive" theme="bootstrap">
                <ui-select-match>{{$select.selected.name | translate}}</ui-select-match>
                <ui-select-choices repeat="geometry in $ctrl.selectionGeometries | omit: 'id == \'clear\'' | filter: $select.search" position="up">
                    <div ng-bind-html="geometry.name | translate | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</form>