<file-field id="userBuildingUpload" class="btn btn-default" ng-model="$ctrl.uploadFile" ng-change="$ctrl.upload()" multiple>
    <span class="glyphicon glyphicon-save-file"></span>
    <span translate>blackmap_userbuildingupload_button_title</span>
</file-field>