#zoomInfo{
    top: unset;
    bottom: 3em;
    left: 3em;
    position: fixed;
    background: rgba(245, 245, 245, 0.81);
    border: 2px solid #e0737c;
}

#zoomInfo > span{
    color: #fff;
    background: #e0737c;
}