<div id="userBuildingDownload" class="btn btn-default" ng-click="$ctrl.download()" ng-disabled="$ctrl.userBuildingLayer.getSource().getFeatures().length == 0">
    <span class="glyphicon glyphicon-open-file"></span>
    <span class="glyphicon-class" translate>blackmap_userbuildingdownload_button_title</span>
</div>