<button class="btn btn-default" type="button" ng-click="$ctrl.turnLayerVisibility()">
    <span>{{$ctrl.layerName}}</span>
    <span class="badge">
        <span class="glyphicon" ng-class="$ctrl.layerVisibility ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
    </span>
</button>