<script type="text/ng-template" id="infoModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.close()" ui-sref="blackmap">&times;</button>
        <h4 class="modal-title">Disclaimer</h4>
    </div>
    <div class="modal-body">
        <p>
            <b>BlackMap, ver. 0.2.0</b>
        </p>
        <p>
            <b>WIKI:</b>
            <br>
            <a target="_blank" href="http://der-geograph.de/">DER GEOGRAPH.de</a>
        </p>
        <p>
            <b>Data:</b>
            <br>
            OpenStreetMap, Released under <a target="_blank"
                                             href="http://opendatacommons.org/licenses/odbl/1.0/">ODbL</a>
        </p>
        <p>
            <b>Geocoding:</b>
            <br>
            Open Geocoding API, <a target="_blank"
                                   href="https://developer.mapquest.com/documentation/open/geocoding-api/">Mapquest</a>
        </p>
        <b>Software:</b>
        <p>Copyright 2015, Released under the MIT, BSD, and GPL Licenses.</p>
        <p>Third-party Libraries:</p>
        <p>
            <a target="_blank" href="https://angularjs.org/">Angular JS</a>
            <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>
            <a target="_blank" href="https://jquery.com/">jQuery</a>
            <a target="_blank" href="https://openlayers.org/">OL4</a>
            <a target="_blank" href="http://viglino.github.io/ol3-ext/examples/map.interaction.transform.html">Openlayers Extentions</a>
            <a target="_blank" href="https://angular-ui.github.io/bootstrap/">Angular UI Bootstrap</a>
            <a target="_blank" href="http://angular-ui.github.io/ui-select/">Angular UI Select</a>
            <a target="_blank" href="https://lodash.com/">Lodash</a>
            <a target="_blank" href="https://pouchdb.com">PouchDB</a>
            <a target="_blank" href="https://d3js.org">D3</a>
            <a target="_blank" href="http://foxandxss.github.io/angular-toastr/">Angular Toastr</a>
            <a target="_blank" href="https://ruhley.github.io/angular-color-picker/">Angular Color Picker</a>
            <a target="_blank" href="https://github.com/achille1789/cookie-law-banner/">Cookie Law Banner</a>
        </p>
        <p>
            <a target="_blank" href="http://geoserver.org/">GeoServer</a>
            <a target="_blank" href="https://sourceforge.net/projects/jts-topo-suite/">JTS</a>
            <a target="_blank" href="http://www.geotools.org/">GeoTools</a>
            <a target="_blank" href="http://overpass-api.de/">Overpass-API</a>
        </p>
        <p>Client source repository:</p>
        <p>
            <a target="_blank" href= "https://bitbucket.org/sdudui/liveosmwww">
                Navigate to Source Repository</a>

        </p>
        <br>
        <p>Hosted by, <a target="_blank" href="https://www.strato.de">Strato</a></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$ctrl.close()" ui-sref="blackmap">Close</button>
    </div>
</script>