<div id="blackmapTools">
    <div class="btn btn-default" ng-click="$ctrl.clearMap()" ng-disabled="$ctrl.userBuildingLayer.getSource().getFeatures().length == 0">
        <span class="glyphicon glyphicon-trash"></span>
        <span class="glyphicon-class" translate>blackmap_blackmaptools_button_clearmap</span>
    </div>
    <div class="blackmapButtonsContainer">
        <div class="buildingsContainerTitle" translate>blackmap_blackmaptools_local_collections_title</div>
        <user-building-load pouch-db="$ctrl.pouchDb" on-features-load="$ctrl.loadFeatureFromCollection"></user-building-load>
        <user-building-save pouch-db="$ctrl.pouchDb" user-building-layer="$ctrl.userBuildingLayer"></user-building-save>
        <user-building-remove pouch-db="$ctrl.pouchDb" user-building-layer="$ctrl.userBuildingLayer"></user-building-remove>
        <building-transform map="$ctrl.map" is-active="!$ctrl.isSelectMode" interaction-layer="$ctrl.userBuildingLayer"></building-transform>
        <building-drag-box-selection on-building-selected="$ctrl.onBuildingSelected" interaction-layers="$ctrl.buildingLayers" map="$ctrl.map" geoserver="$ctrl.geoserver" wrk-map="$ctrl.wrkMap"></building-drag-box-selection>
        <building-copy-selection on-building-selected="$ctrl.onBuildingSelected" interaction-layers="$ctrl.buildingLayers" map="$ctrl.map" geoserver="$ctrl.geoserver" wrk-map="$ctrl.wrkMap"></building-copy-selection>
    </div>
    <div class="buildingsContainer">
        <form id="selectionMode" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-6 control-label" translate>blackmap_layercolorpicker_change_color</label>
                <div class="col-sm-6">
                    <layer-color-picker layer="$ctrl.userBuildingLayer" color="#e0737c" input-class="color-picker"></layer-color-picker>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label" translate>blackmap_blackmaptools_choose_mode</label>
                <div class="col-sm-6">
                    <toggle ng-model="$ctrl.isSelectMode" on="{{'blackmap_blackmaptools_select_mode_title' | translate}}" off="{{'blackmap_blackmaptools_edit_mode_title' | translate}}"></toggle>
                </div>
            </div>
        </form>
        <building-geometry-selection is-active="$ctrl.isSelectMode" on-building-selected="$ctrl.onBuildingSelected" map="$ctrl.map" geoserver="$ctrl.geoserver" wrk-map="$ctrl.wrkMap" geometry-interaction="point"></building-geometry-selection>
        <div class="buildingsContainerTitle">
            <span translate>blackmap_blackmaptools_selections_title</span>
            <span class="badge">{{$ctrl.selectedBuildingFeatures.length}}</span>
            <span class="glyphicon glyphicon-trash clear-selections" ng-click="$ctrl.clearSelections()"></span>
        </div>
        <div class="buildingsList">
            <buildings max-building-selections="50" features="$ctrl.selectedBuildingFeatures" drag-building="$ctrl.dragBuilding" drag-building-top-left-pixel="$ctrl.dragBuildingTopLeftPixel"></buildings>
        </div>
    </div>
</div>
