#blackmapTools{
    background: #ffffff;
}

.buildingsContainer{
    margin-top: 20px;
}

.buildingsContainerTitle{
    padding: 10px 0;
    font-weight: bold;
}

.clear-selections{
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

#selectionMode > div > label{
    text-align: left;
}

#selectionMode > div > div > toggle > div.toggle{
    width: 80%!important;
}

#buildingGeometrySelection > div > label{
    text-align: left;
}

.buildingsList{
    max-height: 400px;
    overflow: auto;
}