<button class="btn btn-default" type="button" ng-click="$ctrl.turnLayerVisibility()" ng-show="$ctrl.isVisible">
    <span translate>blackmap_userbuildinglayer_userbuilding_button_title</span>
    <span class="badge">
        <span class="glyphicon" ng-class="$ctrl.layerVisibility ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
    </span>
</button>