<form id="autocomplete" class="form-inline">
    <div class="input-group">
        <div class="input-group-addon search" ng-click="$ctrl.onToggleMenu()">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <input type="text"
               ng-model="$ctrl.location"
               ng-model-options="$ctrl.modelOptions"
               placeholder="{{ 'autocomplete.placeholder' | translate }}"
               uib-typeahead="address for address in $ctrl.fetchLocations($viewValue)"
               typeahead-template-url="addressLocation.html"
               typeahead-show-hint="false"
               typeahead-min-length="2"
               typeahead-wait-ms="300"
               typeahead-no-results="'blackmap_autocomplete_no_results' | translate"
               typeahead-on-select="$ctrl.showOnMap($item, $model, $label, $event)"
               class="searchbox form-control" translate>
        <div class="input-group-addon search" ng-click="$ctrl.clearAddress()">
            <span class="glyphicon glyphicon-search" ng-if="$ctrl.location == ''"></span>
            <span class="glyphicon glyphicon-remove" ng-if="$ctrl.location != ''"></span>
        </div>
    </div>
    <script type="text/ng-template" id="addressLocation.html">
        <a class="autocomplete-item">
            <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
        </a>
    </script>
</form>