#autocomplete{
    top: 9px;
    position: relative;
    width: 100%;
}
#autocomplete > div.input-group{
    width: 100%;
}

strong{
    color: #000;
}

.searchbox{
    border-left: 0px;
    border-right: 0px;
    border-width: 2px;
}
.search{
    cursor: pointer;
    background-color: #FFFFFF;
    border-width: 2px;
}